[data-aos] {
    opacity: 0;
}
[data-aos].aos-animate {
    opacity: 1;
}


[data-aos="bounce"].aos-animate {
    animation: bounce 1.5s;
}
[data-aos="fadeIn"].aos-animate {
    animation: fadeIn 1.5s;
}
[data-aos="pulse"].aos-animate {
    animation: pulse 1.5s;
}
[data-aos="bounceIn"].aos-animate {
    animation: bounceIn 1.5s;
}
[data-aos="bounceInDown"].aos-animate {
    animation: bounceInDown 1.5s;
}